{% extends '::base.html.twig' %}

{% block title %}
    InfoPelis
{% endblock %}
  
{% block stylesheets %}
{% endblock %}

{% block body %}
	<div class="row page-header">
		<div class="col-md-3 pull-left">
			<h4 class="text-primary">Actor search results:</h4>
		</div>
	</div>
	{% include 'GaeaMoviesInfopelisBundle:Default:actorList.html.twig' with {'actors': results} %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/gaeamoviesinfopelis/js/actorList.js') }}"></script>
{% endblock %}
